<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.jesse.gaea.plugin.main" >

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".ui.activity.MainActivity"/>

    </application>

</manifest>
